body{
  font-family: "SJ Sans", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
width:100%;
margin:0;
display:flex;
align-items: center;
flex-direction: column

}
main{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  
}
/* Start of Nav Bar */
nav {
  background-color: #77dd77;
  width:100%;
    font-size: 1.2rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #0099cc;
  }
  
  nav a.active {
    color: #0099cc;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 767px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    
    nav li {
      margin: 10px 0;
    }

  }
  /* End of Nav Bar */
  main{
    margin:0;
    padding-bottom: 5em;
  }
  /* Buttons */
  .Heropic{
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    margin: 0;
  }
  .donation{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.4rem;;
    padding:2em;
  }
  button {
    border: 0;
    background: #58de6a;
    border-radius: 4px;
    box-shadow: 0 5px 0 #03a729;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 1em 2em;
    transition: all .1s linear;
    width:fit-content;
    
  }
  button:hover{
    border-radius: 4%;
    background-color: #58de6a;
  }
  button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  }
  input{
    border: 0;
    background: #58de6a;
    border-radius: 4px;
    box-shadow: 0 5px 0 #03a729;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 1em 10em;
   
  }

  /* Start of Footer */
  footer {
    background-color: #77dd77;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer a {
    margin-right: 10px;
  }
  
  footer i {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
  }
  
  footer i:hover {
    color: #0099cc;
  }
  
  footer p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #999;
    text-align: center;
    flex-basis: 100%;
  }
  /* End of Footer */