/* card flip css */
.product-card {
  position: relative;
  background-color: darkgreen;
  width: 100%;
  max-width: 25rem;
  height: 18.75rem;
  perspective: 62.5rem; /* Add 3D effect */
}
  
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide backface when flipping */
  transition: transform 0.6s ease; /* Add flip animation */
}

.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: .625rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.back {
  transform: rotateY(180deg); /* Flip to back */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: .625rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
}

.product-card:hover .front {
  transform: rotateY(-180deg); /* Flip to back on hover */
}

.product-card:hover .back {
  transform: rotateY(0deg); /* Flip to front on hover */
}

.product-card img {
  width: 80%;
  max-width: 12.5rem;
  height: 80%;
  margin-bottom: 1.25rem;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 0;
}

.back p {
  font-size: 1rem;
  margin: 0;
  padding: 0 1.25rem;
  text-align: center;
}

.back ul {
  list-style: none;
  padding: 0;
  margin: 1.25rem 0;
}

.back li {
  margin-bottom: .625rem;
}
/* Media query for cards */
@media(max-width:815px){
  .pg{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media(min-width:816px){
  .pg{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
}
}
@media(min-width:1447px){
  .pg{
    display: grid;
    grid-gap: 10px;
    color: #444;
    grid-template-columns:repeat(4, 350px);
} 
}

@media (min-width: 768px) {
  .product-card {
    max-width: 37.5rem;
    height: 25rem;
}

.product-card img {
  width: 60%;
  max-width: 18.75rem;
  margin-bottom: 1.875rem;
}

.product-card h2 {
  font-size: 2rem;
}

.back p {
  font-size: 1.2rem;
}
  }
  /* Form CSS */
.event-form{
  height: 55%;
  width: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0 1.25rem;
  text-align: center;
}
.event-form input{
  background-color: #0cf39e;
  color:azure;
  width:80%;
  padding:.5rem .5rem;
}
.event-form ::placeholder{
  color:#593a06;
  font-weight: bold;
}
.event-form textarea{
  font-size: 1rem;
  text-align: center;
  height: 4rem; 
}
  