.mainlawn{
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}
.grass{
    height: 2.5em;
    width: 100%;
    background-image: url(project/CodeForJustice/grass.jpg);
    /* background-size: auto 100%; */
    /* margin:10px 0; */
}
p{
    font-size: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: bold;
    text-indent: 10%;
}
.video{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.video video{
    width: 50%;
    height: auto;
}
.picture{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.picture img{
    max-width: 100%;
    height: auto;
}
.more{
    display:none;
}
.forms{
    height: 50%;
    text-align: center;
    font-weight: bold;
    font-size:2.5rem;
    padding: 2%;
}
input{
    background-color: #0cf39e;
    color:azure;
    width:50%;
    padding:1rem 1rem;
}
::placeholder{
    color:#593a06;
    font-weight: bold;
}
@media(max-width:815px){
img{
    width:100%;
}
.video{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:#0cf39e;
}
.picture{
    display: grid;
    grid-template-rows: 1fr;
    background-color: #11d78f;
}
}