
*{
    margin: 0;
    padding: 0;
}

.hero{
    background-image: linear-gradient(rgba(74,103,65, 0.5), rgba(74,103,65, 0.5)), url(images/back.webp);
    height:100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

.hero h1{
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
    color: lightgreen;
}

.slide-row{
    display: flex;
    width: 200rem;
    transition: 0.5s;
}

.slide-col{
    width: 50rem;
    height: 25rem;
    position: relative;
}

.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    border-radius: 0.625rem;

}

.user-text{
    background: rgba(74,103,65, 0.95);
    width: 32.5rem;
    height: 16.875rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.625rem;
    color: mintcream;
    padding: 2.9rem;
    box-sizing: border-box;
    z-index: 2;
}


.user-text p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: mintcream;
}
.user-text h3{
    margin: 2rem 0 0.3rem;
    color: lightgreen;
}

.container{
    width: 50rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3.125rem;
}

.btn{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin: 0.25rem;
    border-radius: 1rem;
    background: #b8d8be;
    cursor: pointer;
    transition: 0.5s;
}

.active{
    width: 2.8rem;

}

.com-partners{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* .com-header{
    background-color: rgba(74,103,65, 0.9);
} */

/* Start of Nav Bar */
nav {
    background-color: #77dd77;
    font-size: 1.2rem;
    padding-top: 3.125rem;
  }
  nav{
    /* padding: 0; */
    width: 100dvw;
  }
  nav ul {
    background: #77dd77;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin: 0;
  }
  nav a {
    
    display: block;
    padding: 0.625rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #078e27;
  }
  nav a.active {
    color: #078e27;
  }
  /* End of Nav Bar */

  .reg-container{
    /* width: 50%; */
    /* max-width: 650px; */
    background: rgba(0, 0, 0, 0.5);
    padding: 1.75rem;
    margin: 0 1.75rem;
    border-radius: 0.625rem;
    box-shadow: inset -2px 2px 2px white;
  }
  
  .form-title{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
  }
  
  .main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;
    text-align: center;
  }
  
  .user-input-box:nth-child(2n){
    justify-content: end;
  
  }
  
  .user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 1rem;
  }
  
  .user-input-box label{
    width: 95%;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 5px 0;
  
  }
  
  .user-input-box input{
    height: 2.5rem;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  /* .gender-details-box{
    display: flex;
    justify-content: center;
  } */

  .gender-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid white;
  }
  
  .gender-category{
    margin: 1rem 0;
    color: white;
  }
  
  .gender-category label{
    padding: 0 20px 0 5px;
  }
  
  .gender-category label,
  .gender-category input,
  .form-submit-btn input{
    cursor: pointer;
  }
  
  .form-submit-btn{
    margin-top: 2.5rem;
    padding-left: 45%;
    padding-right: 45%;
  }
  
  .form-submit-btn input{
    display: block;
    /* width: 100%; */
    margin-top: 0.625rem;
    font-size: 1.25rem;
    padding: 0.625rem;
    border: none;
    border-radius: 3px;
    color: white;
    background: rgba(74,103,65, 0.5);
  }
  
  .form-submit-btn input:hover{
    background: rgba(43, 136, 14, 0.5);
    color: white;
  }
  
  @media(max-width: 37.5rem){
    .container{
        min-width: 17.5rem;
    }
    .user-input-box{
        margin-bottom: 1rem;
        width: 100%;
    }
    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .main-user-info{
        max-height: 23.75rem;
        overflow: auto;
    }
  }
  
  .logocontainer{
    text-align: center; 
    width: 100dvw;
    padding-left: 3em;
    /* padding-top: 500px; */
    justify-content: center;
   }

    /* Start of Footer */
  footer {
    background-color: #77dd77;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  footer a {
    margin-right: 10px;
  }
  footer i {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
  }
  footer i:hover {
    color: #0099cc;
  }
  footer p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #999;
    text-align: center;
    flex-basis: 100%;
  }
  /* End of Footer */
   /* Media Queries */
  @media only screen and (max-width: 75rem) {
 
   .logocontainer{
    text-align: center;
    width: 100dvw;
   }
    nav ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100dvw;
    }
    nav li {
      margin: 10px 0;
    }

  }
 /* Media Query End */