*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


/* Link Styling */
a{
    color: inherit;
    text-decoration: none;

}

ul{
    list-style: none;
}

/* BASE STYLES */

body{
    background-image: linear-gradient(rgba(74,103,65, 0.5), rgba(74,103,65, 0.5)), url(images/back.webp);
    padding-top: 5.625em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-position: center;
    background-size: cover;
}


/* NAV STYLES  */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.top-bar{
    background-color: rgba(0, 0, 0, 0.7);

}

.top-bar_content{
    min-width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    height: 2em;
    color: rgba(202, 231, 193, 0.8);
    font-size: 0.75em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.25em;
}

.icon{
    margin-right: 3px;
    color: rgba(202, 231, 193, 0.8);
}

.bottom-bar{
    background-color: rgba(23, 38, 18, 0.5);
}

.bottom-bar_content{
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0 2em;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;  /* Creates spacing between logo and company name */
}

#nav-logo{
    padding-left: 5%;
}

.logo-img{
    height: 2em;
}

.logo-text{
    color: rgba(202, 231, 193, 1);
    font-size: 1.25em;
    font-weight: 500;
}

.nav{
    transition: all 0.3s ease-in-out;
}

.nav-list{
    display: flex;
    column-gap: 2.5em;
}



/* Setting the color properties like this will highlight the nav links when the cursor hovers over them  */
.nav-link{
    color: rgba(202, 231, 193, 0.7);
    transition: all 0.2s;
}

.nav-link:hover,
.nav-link:focus{
    color: rgba(202, 231, 193, 1);
}

.btn2{
    color: rgba(202, 231, 193, 0.8);
    background-color: rgba(74,103,65, 1);
    padding: 0.5em 1.25em;
    border-radius: 62.5em;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
}

.btn2:hover{
    background-color: forestgreen;
}

.carousel{
padding-bottom: 10%;

}
    

/* Community Partners Styling  */

.heading-txt h1{
    text-align: center;
}

.heading-txt p{
    text-align: center;
}
.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    opacity: 0.9;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  max-height: 50%;
  padding-top: 20px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 50px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  opacity: 25%;
  transition: 0.5s;
  
}

.text p{
    padding-bottom: 10px;
}

.text h3{
    padding-bottom: 10px;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: relative;
  top: 0;
  bottom: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Registration Section  */
.hero{
    /* background-image: linear-gradient(rgba(74,103,65, 0.5), rgba(74,103,65, 0.5)), url(images/back.webp); */
    /* height:100vh; */
    /* padding-left: 100px; */
    width: 100%;
    position: relative;
    /* background-position: center;
    background-size: cover; */
}

.hero h1{
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
    color: lightgreen;
}

.reg-container{
    /* width: 50%; */
    /* max-width: 650px; */
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    /* padding: 1.75rem; */
    /* margin: 0 1.75rem; */
    border-radius: 0.625rem;
    box-shadow: inset -2px 2px 2px white;
    width: 100%;
  }

  .reg-container h1{
    padding-top: 0%;
  }
  
  .form-title{
    font-size: 1.625rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
  }
  
  .main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.25rem;
    text-align: center;
  }
  
  .user-input-box:nth-child(2n){
    justify-content: end;
  
  }
  
  .user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 1rem;
  }
  
  .user-input-box label{
    width: 95%;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 5px 0;
  
  }
  
  .user-input-box input{
    height: 2.5rem;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  /* .gender-details-box{
    display: flex;
    justify-content: center;
  } */

  .gender-title{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid white;
  }
  
  .gender-category{
    margin: 1rem 0;
    color: white;
  }
  
  .gender-category label{
    padding: 0 20px 0 5px;
  }
  
  .gender-category label,
  .gender-category input,
  .form-submit-btn input{
    cursor: pointer;
  }
  
  .form-submit-btn{
    margin-top: 2.5rem;
    padding-left: 45%;
    padding-right: 45%;
  }
  
  .form-submit-btn input{
    display: block;
    /* width: 100%; */
    margin-top: 0.625rem;
    font-size: 1.25rem;
    padding: 0.625rem;
    border: none;
    border-radius: 3px;
    color: white;
    background: rgba(74,103,65, 0.5);
  }
  
  .form-submit-btn input:hover{
    background: rgba(43, 136, 14, 0.5);
    color: white;
  }

  /* Our Services */

  .title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;

  }

  .title::after h1{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
  }

.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background-color: forestgreen;
    transition: 0.4s ease;
}

.card .icon{
    font-size: 35px;
    margin-bottom: 10px;

}

.card h2{
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
    
}

.card p{
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: #5e5e5e;
}

.button{
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: navy;
}

.button:hover{
    background-color: red;
    transition: 0.4s ease;
}


        /* FOOTER  STYLES*/
footer{
    color: rgba(202, 231, 193, 0.7);
    background-color: rgba(42, 44, 42, 0.5);
    /* display: flex;
    justify-content: end; */
    margin-top: auto;
    bottom: 0;
    height: 15%;
}

footer p{
    color: rgba(202, 231, 193, 0.25);
    max-width: 25em;
    font-size: 0.9em;
    line-height: 1.5em;
}

footer .container2{
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px rgba(202, 231, 193, 0.7) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background-color: rgba(202, 231, 193, 0.7);
    color: whitesmoke;

}

.footer4{
    text-align: center;
}

.footer4 .menu li{
    display: inline-block;
    margin: 0.7em;
    text-align: center;
}

.footer4 p{
    margin: 0 auto;
}

.footer4 .media-icons{
    margin: 1.5em 0;
    display: inline-block;

}

.ftr li{
    padding-top: 0.5em;
    color: rgba(202, 231, 193, 0.7);
    transition: all 0.2s;
}

.ftr li:hover,
.ftr li:focus{
    color: rgba(202, 231, 193, 1);
}

.ftrlogo{
    padding: 1em;
}






/* Responsive Hamburger Design */
.hamburger{
    display: none;
}

.bar{
    height: 2px;
    background-color: antiquewhite;
    width: 1.75em;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}



/* JS */

/* This code moves the mobile nav into view when the hamburger button is clicked (animation) */
.nav--open{
    transform: translateX(0%) !important;
}

/* This code changes the hamburger into an 'X' icon when clicked */
.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2){
    opacity: 0;
}

.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/* Media Queries */

/* Mobile Devices */
 @media screen and (min-width:320px) and (max-width: 800px) {
    .nav{
        position: fixed;
        top: 5.625em;
        left: 0;
        background-color: rgb(19,22,26);
        width: 100%;
        padding: 0.625em 0 1.5em;
        transform: translateX(-100%); /*This line of code hides the nav menu until the hamburger is clicked */
    }

    .nav-list{
        flex-direction: column;
        align-items: center;
        row-gap: 1.25em;
    }
    .nav-link{
        font-size: 1em;

    }
    .btn2{
        font-size: 0.75em;
        padding: 0.5em 1em;
    }

    .hamburger{
        display: block;
    }

    /* Partners Page */
    .slideshow-container{
        
        height: 100%;
        margin-top: 0;
    }

    .mySlides img{
        opacity: 0.5;
    }

    .mySlides .text{
        opacity: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        
    }

    .prev, .next, .text{
        font-size: 14px;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
    .services{
        display: flex;
        flex-direction: column;
    }
    
}

 /* Tablets */ 
@media (min-width:801px) and (max-width:1023px) {

} 


@media (min-width: 1024px){
    .mySlides:hover .text{
        display: flex;
        flex-direction: column;
        transform: translateY(-100%);
        transition: 1s ease-in-out;
        opacity: 1;
        background-color: rgba(0,0,0,0.4); 
    }
    
}






